/* =========================
   RESET
========================= */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: Inter, Helvetica, sans-serif;
    background:#62807d;
    color:rgb(255, 255, 255);
    overflow-x:hidden;
}

/* =========================
   NAVBAR
========================= */

.navbar{
    height:70px;
    background:linear-gradient(
        90deg,
        #00CDAD,
        #006C5B
    );
    display:flex;
    justify-content:center;
    align-items:center;

    position:sticky;
    top:0;
    z-index:99999;
}

.navbar nav{
    display:flex;
    gap:70px;
}

.navbar a{
    color:rgb(255, 255, 255);
    text-decoration:none;
    font-size:14px;
    font-weight:600;
}

.navbar a:hover{
    opacity:.8;
}

.navbar a{
    color:rgb(255, 255, 255);
    text-decoration:none;
    transition:0.3s;
}

.navbar a.active{
    color:#005347;
    font-weight:700;
}



/* =========================
   HERO
========================= */

.hero{
    position:relative;
    height:370px;
    overflow:visible;
}

.hero-bg{
    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    opacity:.18;
}

.hero::after{
    content:"";

    position:absolute;
    inset:0;

    background: #43AD9C
    url("../assets/fundoinicio.png");

}

.hero-content{
    position:relative;
    z-index:10;

    max-width:1200px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:40px 80px;
}

/* =========================
   POLAROIDS
========================= */

.hero-polaroids{
    position:relative;
    width:450px;
    height:220px;
}

.polaroid{
    position:absolute;
    width: 400px;
}

.polaroid-1{
    left: -100px;;
    top:-50px;
    transform:rotate(-8deg);
}

.polaroid-2{
    right:-80px;
    top: -20px;
    transform:rotate(7deg);
}

.polaroid-3{
    left:20px;
    top:40px;
    z-index:3;
}

/* =========================
   TEXTO HERO
========================= */

.hero-text{
    text-align:left;
    max-width:420px;
}

.hero-text h1{
    font-size:50px;
    line-height:1.1;
    font-weight:900;
}

.hero-text h2{
    margin-top:10px;
    font-size:22px;
    color:#ffffff;
}

.pascal-area img{
    width:110px;
    margin-top:5px;
}

.btn-story{
    display:inline-block;

    margin-top:20px;

    padding:12px 25px;

    border-radius:30px;

    background:linear-gradient(
        90deg,
        #007866,
        #00BFA2
    );

    color:white;
    text-decoration:none;
    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}
.btn-story:hover{
    transform:translateY(-3px);
    background:#008C76;
}
/* =========================
   FOLHAS
========================= */

.folha{
    position:absolute;
    z-index: 999;
}

.folha-left{
    width:630px;

    bottom:-170px;
    left:-230px;
    z-index: 999;
}


.folha-right{
    width:425px;

    bottom: -100px;
    right:0px;
    z-index: 999;
}
/* =========================
   PLAYER
========================= */

.music-section{
    padding:80px 0 40px;
}

.music-card{
    width:900px;
    margin:auto;

    background:linear-gradient(
        90deg,
        #006C5B,
        #00A68C
    );
    border-radius:40px;

    padding:35px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.2);
}

.music-cover{
    width:100%;
    height:320px;

    object-fit:cover;

    border-radius:30px;
}

.music-info{
    margin-top:20px;
}

.music-info h2{
    font-size:34px;
}

.music-info p{
    opacity:.8;
}

.progress-bar{
    width:100%;
    margin-top:25px;
}

.music-controls{
    margin-top:20px;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:25px;
}

.music-controls button{
    border:none;
    background:none;
    color:rgb(255, 255, 255);

    font-size:22px;
    cursor:pointer;
}

.play-btn{
    width:60px;
    height:60px;

    border-radius:50%;

    background:white !important;
    color:#007f73 !important;
}

/* =========================
   TIMELINE
========================= */

.timeline-section{
    position:relative;

    padding:80px 0 120px;

    background:
        linear-gradient(
            rgba(0, 210, 177, 0.50),
            rgba(0, 108, 91, 0.50)
        ),
        url("../assets/fundolinhadotempo.png");

    
    background-size:cover;
    background-position:center;
}

.timeline-section h3{
    text-align:center;

    font-size:28px;
    font-weight:700;

    margin-bottom:15px;
}

.year{
    text-align:center;

    font-size:60px;
    font-weight:900;

    margin-bottom:50px;
}

.timeline{
    position:relative;

    max-width:1100px;
    margin:auto;
}

/* Linha central */

.timeline::before{
    content:"";

    position:absolute;

    left:50%;
    top:0;

    transform:translateX(-50%);

    width:4px;
    height:100%;

    background:rgb(255, 255, 255);
}

/* Itens */

.timeline-item{
    position:relative;

    width:50%;

    padding:20px 40px;

    margin-bottom:40px;
}

.timeline-event{
    display:grid;

    grid-template-columns:
        1fr
        40px
        1fr;

    align-items:center;

    margin-bottom:60px;
}
.timeline-dot{
    width:18px;
    height:18px;

    background:white;

    border-radius:50%;

    justify-self:center;

    position:relative;
}
.timeline-side img{
    width:170px;

    border-radius:10px;
}
.timeline-item.left{
    left:0;
    text-align:right;
}

.timeline-item.right{
    left:50%;
    text-align:left;
}

.left{
    display:flex;
    justify-content:flex-end;
    padding-right:20px;
}
/* Bolinhas */

.timeline-item::before{
    content:"";

    position:absolute;

    width:16px;
    height:16px;

    background:rgb(255, 255, 255);

    border-radius:50%;

    top:50%;
}

.timeline-item.left::before{
    right:-8px;
}

.timeline-item.right::before{
    left:-8px;
}

/* Cards */

.card{
    display:inline-block;

    min-width:260px;

    padding:18px;

    border-radius:12px;

    background:linear-gradient(
        90deg,
        #007866,
        #00BFA2
    );

    box-shadow:
        0 5px 15px rgba(0,0,0,.15);
}

.card small{
    display:block;

    font-size:11px;

    margin-bottom:6px;

    opacity:.8;
}

.card h4{
    font-size:24px;
    font-weight:800;
}

/* Fotos */

.timeline-item img{
    width:220px;
    height:140px;

    object-fit:cover;

    border-radius:10px;

    box-shadow:
        0 6px 20px rgba(0,0,0,.25);
}

/* Anos */

.year-divider{
    position:relative;

    text-align:center;

    margin:60px 0;
}

.year-divider span{
    position:relative;

    z-index:2;

    font-size:58px;
    font-weight:900;

    padding:0 25px;
}

/* =========================
   BOTÃO FINAL
========================= */

.btn-back{
    display:block;

    width:max-content;

    margin:80px auto 0;

    padding:14px 28px;

    border-radius:30px;

    background:linear-gradient(
        90deg,
        #007866,
        #00BFA2
    );

    color:rgb(255, 255, 255);

    text-decoration:none;
    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

.btn-back:hover{
    transform:translateY(-3px);

    background:#008C76;
}

/* =========================
   RESPONSIVO
========================= */

@media(max-width:1100px){

    .hero-content{
        flex-direction:column;
        gap:40px;
    }

    .hero{
        height:auto;
        padding-bottom:120px;
    }

    .music-card{
        width:90%;
    }

    .timeline::before{
        left:30px;
    }

    .timeline-item{
        width:100%;

        padding-left:80px;
        padding-right:20px;

        text-align:left !important;

        left:0 !important;
    }

    .timeline-item::before{
        left:22px !important;
        right:auto !important;
    }

    .timeline-item img{
        width:100%;
        max-width:300px;
    }

    .year-divider span{
        font-size:42px;
    }
}

@media(max-width:768px){

    .navbar nav{
        gap:25px;
    }

    .hero-polaroids{
        transform:scale(.8);
    }

    .hero-text h1{
        font-size:38px;
    }

    .hero-text h2{
        font-size:18px;
    }

    .music-cover{
        height:220px;
    }

    .music-info h2{
        font-size:24px;
    }

    .year{
        font-size:42px;
    }

    .card h4{
        font-size:18px;
    }
}


.progress-bar{
    width:100%;

    margin-top:20px;

    cursor:pointer;

    accent-color: #ffffff;
}

.titulo-container{
    display:flex;
    align-items:flex-end;
    gap:20px;
}

.titulo-namorados{
    width:360px;
}

.pascal{
    width:100px;
    margin-bottom:px;
}
.botao-pascal{
    display:flex;
    align-items:center;
    gap:10px;

    margin-top:20px;
}

.love-letter{
    min-height:100vh;

    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:140px 20px 80px;

    background:
        linear-gradient(
            rgba(0, 210, 177, 0.50),
            rgba(0, 108, 91, 0.50)
        ),
        url("../assets/fundopravc.png");

    background-size:cover;
    background-position:center;

    overflow:hidden;
}

.lanternas{
    position:absolute;

    top:0;
    left:0;

    width:100%;

    z-index:2;

    pointer-events:none;
}

.paper-container{
    position:relative;

    width:100%;
    max-width:1100px;

    z-index:10;
}

.paper{
    width:100%;
    display:block;

    filter:drop-shadow(0 10px 25px rgba(0,0,0,.25));
}

.year-divider{
    position: relative;
    z-index: 10;
}

.year-divider::before{
    content: "";

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 16%;
    height: 100%;

    border-radius: 12px;

    background:linear-gradient(
        90deg,
        #007866,
        #00BFA2
    );

    z-index: -1;
}