*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter', sans-serif;
    font-weight:700;
}

body{
    min-height:100vh;
    overflow:hidden;

    background:linear-gradient(
        90deg,
        #00D2B1 0%,
        #006C5B 100%
    );
}

.container{
    width:100%;
    height:100vh;
    display:flex;
}

/* ====================
   ESQUERDA
==================== */

.left{
    width:52%;
    position:relative;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    overflow:hidden;

    background:
        url("../assets/fundologin.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.left > *{
    position:relative;
    z-index:30;
}

.fundo-login{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    top:0;
    left:0;
    z-index:0;
    opacity: 0.1;
}




.titulo{
    width:440px;
    margin-bottom:50px;
}

.polaroids{
    position:relative;
    width:600px;
    height:350px;
}

.foto{
    position:absolute;
    width:260px;
    transition:.4s;
}

.foto:hover{
    transform:scale(1.05);
}

.foto1{
    width:450px;
    left:-40px;
    top:-60px;
    transform:rotate(-8deg);
}

.foto2{
    width:500px;
    left:220px;
    top: -20px;
    transform:rotate(8deg);
}

.foto3{
    width:500px;
    left:78px;
    top:110px;
    z-index:10;
}

/* ====================
   DIREITA
==================== */

.right{
    width:48%;
    position:relative;
    padding-left:40px;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;
}

.folha{
    position:absolute;
    z-index: 20;
}

.folha-top{
    width:410px;

    top:640px;
    left:335px;
}

.folha-bottom{
    width:580px;

    bottom: 630px;;
    right:360px;
}


.login-card{
    width:540px;
    padding:60px;

    border-radius:40px;

    background:linear-gradient(
        90deg,
        #00CDAD 0%,
        #006C5B 100%
    );

    position:relative;
    z-index:10;

    box-shadow:
    0 20px 50px rgba(0,0,0,.25);
}

.logo-amor{
    width:220px;
    display:block;
    margin:auto;
    margin-bottom:40px;
}

form{
    display:flex;
    flex-direction:column;
}

label{
    color:white;
    font-size:18px;
    font-weight:bold;

    margin-bottom:12px;
}

input{
    height:58px;

    border:none;
    border-radius:30px;

    padding:0 20px;

    background:rgba(152, 195, 188, 0.75);
    backdrop-filter:blur(5px);
    font-size:16px;
    color:white;


    margin-bottom:35px;
}

input:focus{
    outline:none;
}

button{
    width:280px;
    height:60px;

    margin:auto;

    border:none;
    border-radius:30px;

    background:linear-gradient(
        90deg,
        #008C76,
        #002620
    );

    color:white;
    font-size:18px;
    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

button:hover{
    transform:translateY(-3px);
    background:#008C76;
}